:root {
    --neutral-clr-200: hsl(213deg 100% 99%);
    
    --accent-clr-dark-blue-700: hsl(210deg 59% 16%);
    --accent-clr-blue-600: hsl(199deg 58% 20%);
    --accent-clr-cyan: hsl(180deg 50% 60%);
    --accent-clr-orange: hsl(31deg 92% 56%);

    --text-clr: hsl(211deg 69% 22%);
}